@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818; /* Set default background to #181818 */
  --foreground: #cccccc; /* Set default text color to #cccccc */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818; /* Dark mode background */
    --foreground: #cccccc;  /* Dark mode text color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IBM Plex Mono', monospace; /* Global font */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) grayscale(100%) contrast(100%) brightness(100%);
}

.milestone-red {
  box-shadow: 0 0 12px #f56565; /* Red 500 */
}

.milestone-yellow {
  box-shadow: 0 0 12px #ecc94b; /* Yellow 500 */
}

.milestone-green {
  box-shadow: 0 0 12px #48bb78; /* Green 500 */
}

.shadow-all-directions {
  box-shadow: 0 0 20px 0 rgba(68, 79, 97, 0.5); /* Gray 700 */
}